body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-header h1 {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  min-height: 2000px;
  color:hsla(240, 15%, 30%, 1);
}

main { margin-top: 80px; }

h2.lesson-title { 
  font-size: 32px;
  font-weight: normal;
  margin-top: 0;
  padding: 10px;
  color: hsla( 0, 0.0%, 100.0%, 1 );
  background-color: hsla( 208, 55.9%, 44.5%, 1 );
}

.navbar-default a.navbar-brand { color: hsla( 208, 55.9%, 44.5%, 1 ); }
.navbar-default a.navbar-brand:hover { color: hsla( 194, 66.4%, 53.3%, 1 ); }

aside.sidebar-nav {
  padding-top: 15px;
  background-color: hsla( 0, 0.0%, 98.0%, 1 );
}

aside.sidebar-nav ol {
 list-style-type: none;
 padding-left: 0;
}

aside.sidebar-nav ol ol { padding-left: 15px; }
aside.sidebar-nav ol ol a { color: hsla( 120, 39.6%, 46.0%, 1 ); }
aside.sidebar-nav ol ol a:hover { color: hsla( 120, 39.6%, 35.0%, 1 ); }

aside.sidebar-nav ol ol ol {
  list-style-type: disc;
  color: hsla( 194, 66.4%, 53.3%, 1 );
  padding-left: 20px;
}

aside.sidebar-nav ol ol ol a { color: hsla( 194, 66.4%, 53.3%, 1 ); }
aside.sidebar-nav ol ol ol a:hover { color: hsla( 194, 66.4%, 42.0%, 1 ); }

aside.sidebar-nav .current-page { color: hsla( 2, 64.7%, 50.0%, 1 ); }

h3,
h4 {
  font-size: 27px;
  font-weight: normal;
  color: hsla( 120, 39.6%, 46.0%, 1 );
}

mark.keyword {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 19px;
  color: hsla( 2, 64.7%, 50.0%, 1 );
  background-color: inherit;
}

em, strong { color: hsla( 120, 39.6%, 46.0%, 1 ); }

.objectives,
.measures ul,
.measures p,
.resources {
  font-size: 107%;
}

article header section,
article footer section {
  margin-bottom: 40px;
}

article footer { margin-top: 40px; }

dl.faq { font-size: 22px; }
dl.faq dt {
  font-weight: normal;
  color: hsla( 2, 64.7%, 50.0%, 1 );
}
dl.faq dd { margin: 0 40px 20px; }